# Install packages
using Pkg
Pkg.add("DataFrames")
Pkg.add("CSV")
Pkg.add("Plots")
Pkg.add("Lathe")
Pkg.add("GLM")
Pkg.add("StatsPlots")
Pkg.add("MLBase")
# Load the installed packages
using DataFrames
using CSV
using Plots
using Lathe
using GLM
using Statistics
using StatsPlots
using MLBase
# Enable printing of 1000 columns
ENV["COLUMNS"] = 1000
# Read the file using CSV.File and convert it to DataFrame
df = DataFrame(CSV.File("/Users/Akansha/OneDrive/Desktop/Life_Expectancy_Data.csv"))
first(df,5)
#> 22-element Array{Symbol,1}:
#>  :Country
#>  :Year
#>  :Status
#>  Symbol("Life expectancy ")
#>  Symbol("Adult Mortality")
#>  Symbol("infant deaths")
#>  :Alcohol
#>  Symbol("percentage expenditure")
#>  Symbol("Hepatitis B")
#>  Symbol("Measles ")
#>  Symbol(" BMI ")
#>  Symbol("under-five deaths ")
#>  :Polio
#>  Symbol("Total expenditure")
#>  Symbol("Diphtheria ")
#>  Symbol(" HIV/AIDS")
#>  :GDP
#>  :Population
#>  Symbol(" thinness  1-19 years")
#>  Symbol(" thinness 5-9 years")
#>  Symbol("Income composition of resources")
#>  :Schooling
println(size(df))
#> (1649, 22)

describe(df)
# Check column names
names(df)
# Fix column names by replaceing ' ', '-', '/' with '_'
colnames = Symbol[]
for i in string.(names(df))
    push!(colnames,Symbol(replace(replace(replace(strip(i)," " => "_"),"-" => "_"), "/" => "_")))
end

rename!(df, colnames);
# Box Plot
boxplot(df.Life_expectancy, title = "Box Plot - Life Expectancy", ylabel = "Life Expectancy (years)", legend = false)
# Outlier removal
first_percentile = percentile(df.Life_expectancy, 25)
iqr_value = iqr(df.Life_expectancy)
df = df[df.Life_expectancy .>  (first_percentile - 1.5*iqr_value),:];
# Density Plot
density(df.Life_expectancy , title = "Density Plot - Life Expectancy", ylabel = "Frequency", xlabel = "Life Expectancy", legend = false)
# Correlation Analysis
println("Correlation of Life Expectancy with Adult Mortality Rate is ", cor(df.Adult_Mortality,df.Life_expectancy), "\n\n")

# Scatter plot
train_plot = scatter(df.Adult_Mortality,df.Life_expectancy, title = "Scatter Plot Life Expectancy vs Adult Mortality Rate", ylabel = "Life Expectancy", xlabel = "Adult Mortality Rate",legend = false)
